*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Roboto",sans-serif;
}
.container{
    max-width: 1225px;
    margin: 0 auto;
    padding: 0 20px;
}

 /* header css start  Behruz*/


 /* header css end */


 /* --------------------------------- */



 /* hero css Abdurahmon  start*/


 /* hero css Abdurahmon  end*/


 /* --------------------------------------- */


 /* Welcome Kamron aka Start */




 /* Welcome Kamron aka end */


 /* --------------------------- */

 /* Product Asadbek Start */




 /* Product Asadbek end */


 /* --------------------- */

 /* Footer Temur Start */

 
 /* Footer Temur end */