*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Roboto",sans-serif;
}
.container{
    max-width: 1225px;
    margin: 0 auto;
    padding: 0 20px;
}

 /* header css start  Abdulhamid*/


 /* header css end */


 /* --------------------------------- */



 /* hero css Sardor aka   start*/


 /* hero css Sardor ala  end*/


 /* --------------------------------------- */


 /* Welcome Azizbek aka  Start */




 /* WelcomeAzizbek aka  end */


 /* --------------------------- */

 /* Product Jamshid  Start */




 /* Product Jamshid  end */


 /* --------------------- */

 /* Footer Zuhriddin Start */


 /* Footer Zuhriddin end */